::root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  background: var(--color_black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  height: 84px;
  color: var(--color_white)
}

.section {
  padding: 0px 48px;
}

.search {
  /* margin-top: 30px;
  margin-bottom: 12px; */
  margin: 50px;
}

.searchLine {
  border: 1px solid var(--color_black);
  marginTop: 5px;
  marginBottom: 10px
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchText {
  color: var(--color_black);
  fontSize: 12px;
  fontWeight: 600 
}

.searchInput {
  border: 0px solid var(--color_black);
  width: 100%;
  background: transparent;
  color: var(--color_black);
  font-weight: 400;
  font-size: 14px;
}

.characterList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters {
  display: grid;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
}

.characterImage {
  margin-top: 20;
  border-bottom: 10px solid;
  border-bottom-color: var(--color_red)
}

.characterName {
  background: var(--color_black);
  color: var(--color_white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  padding: 16px 16px 24px 16px;
  position: relative;
}

.characterName::after {
  content: "";
  width: 84.6%;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent;
  border-top: 29px solid transparent;
  border-right: 29px solid var(--color_white);
}

.like {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.characterDetail {
  background: var(--color_black);
  color: var(--color_white);
  padding: 0px 295px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.characterDetail::after {
  content: "";
  width: 98%;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent;
  border-top: 29px solid transparent;
  border-right: 29px solid var(--color_white);
}

.characterInfo {
  display: grid;
  justify-items: center;
  margin: 0 30px;
}

.comicsList {
  display: flex;
  flex-direction: column;
  padding: 48px 300px;
  gap: 24px;
}

.comics {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 97.5%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  scrollbar-color: var(--color_red) var(--color_gray);
  scrollbar-width: thin;
}

/* For tablets */
@media only screen and (max-width: 1024px) {
  .characterDetail {
    justify-content: space-between;
    padding: 0 30px 0 0;
  }

  .characterInfo {
    margin-left: 50px;
  }

  .comicsList {
    padding: 48px 50px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .characterList {
    justify-content: center;
  }
  .characterDetail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .characterDetail::after {
    width: 92.6%;
  }

  .characterInfo {
    margin-left: 0;
  }

  .comicsList {
    padding: 48px 5px;
  }

  .comics {
    justify-content: flex-start;
    width: auto;
  }
}

.comicDisplay {
  display: grid;
  margin: 10px;
}

.comicDisplayName {
  margin: 5px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}