@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Roboto-Condensed, Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color_black: #000000;
	--color_red: #EC1D24;
	--color_white: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  body {
    background: var(--color_white);
    font-family: "Roboto Condensed", "sans-serif";
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color_white);
    margin: 0;
  }

  .error-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    background: var(--color_red);
    background: linear-gradient(90deg, var(--color_red) 0%, var(--color_black) 100%);
    background: -moz-linear-gradient(90deg, var(--color_red) 0%, var(--color_black) 100%);
    background: -webkit-linear-gradient(90deg, var(--color_red) 0%, var(--color_black) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="var(--color_red)", endColorstr="var(--color_black)", GradientType=1 );
  }